.navbar-brand {
    font-size: 20px;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    padding-top: 30px;
    font-size: 12px;
}

/*列表页*/
.list .title {
    font-size: 20px;
    font-weight: bold;
}

.list .content {
    padding-top: 10px;
    font-size: 14px;
    height: auto;
    overflow: hidden;
}

.list .info {
    padding-top: 10px;
    font-size: 12px;
    color: gray;
    padding-bottom: 40px;

}

.list .article_info {
    display: inline;
    clear: both;
}

.list .icon-icon-list {
    padding-left: 20px;
    display: inline;
    clear: both;
    float: right;

}

.indexcontent {
    min-height: 450px;
}

.contentintro {
    clear: both;
}

.listsmallpic {
    max-height: 200px;
    max-width: 150px;
    display: block;
}

@media screen and (min-width: 200px) and (max-width: 600px) {
    .listsmallpic {
        max-height: 100px;
        max-width: 80px;
    }

}

/*列表页结束*/

.table td {
    padding: 5px !important;
}

.table th {
    padding: 5px !important;
}

.zpagenav ui {
    margin: 5px !important;
    padding-top: 10px;
}

.pager a, .pagera:visited, .pager a:hover, .pager a:active {
    color: white !important;
}

.pageleft {
    padding-left: 50px;
    display: inline;
    clear: both;
}

.pageright {
    clear: both;
    float: right;
    padding-right: 50px;
}

.editormd-html-preview, .editormd-preview-container {
    padding: 0px !important;
}

.navbar .navbar-brand {
    font-size: 30px !important;
}