{[{ define "adminmenu" }]}
    <ul class="menu">
        <!-- menu header text -->
        <li class="divider" data-content="博文管理">
        </li>
        <!-- menu item standard -->


        <li class="menu-item">
            <a href="/adminblog">
                博文管理
            </a>
        </li>

        <li class="divider" data-content="设置">
        </li>
        <li class="menu-item">
            <a href="/admin">
                基本信息
            </a>
        </li>

        <li class="menu-item">
            <a href="/admin/reset">
                修改密码
            </a>
        </li>

        <li class="menu-item">
            <a href="/admin/logout">
                退出
            </a>
        </li>


    </ul>

{[{end}]}