<!DOCTYPE html>
<html lang="en">
<head>
    {[{template "headerbody" .}]}
    {[{template "adminheader" .}]}

    <script src="../static/zpageNav.js"></script>
    <link href="../static/zpageNav.css" rel="stylesheet"/>
</head>
<body>
<div id="app">

    {[{template "header" .}]}

    <div class="container grid-lg indexcontent">

        <div class="columns">
            <div class="column col-3  col-md-1">{[{template "adminmenu" .}]}</div>
            <div class="column col-9 col-md-12 adminblog">
                <input type="button" value="新增" class="btn btn-primary" onclick="add()">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th style="width: 50px">序号</th>
                        <th>博客标题</th>
                        <th>发布时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,index) in blogs" :class="{active:index%2==0,off:index%2!=0}">
                        <td>{{(pager.page-1)*pager.pageSize+index+1}}</td>
                        <td><a :href="'../viewblog/'+item.blogid" target="_blank">{{item.title}}</a></td>
                        <td style="width: 150px">{{item.publishtime}}</td>
                        <td style="width: 150px">
                            <button class="btn btn-link" @click="Edit(item.blogid)">编辑</button>
                            <button class="btn btn-link" @click="ShowEdit(item.blogid)">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="card-footer" style="padding: 0px">
                    <zpagenav v-bind:page="pager.page" v-bind:page-size="pager.pageSize" v-bind:total="pager.total"
                              v-bind:max-page="pager.maxPage" v-on:pagehandler="pageHandler">
                    </zpagenav>
                </div>
            </div>

        </div>
    </div>


    <div class="modal active modal-sm" id="modal-id" v-if="ShowTips">
        <a href="#close" class="modal-overlay" aria-label="Close" @click="ShowTips=false"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#close" class="btn btn-clear float-right" aria-label="Close" @click="ShowTips=false"></a>
                <div class="modal-title h5">是否删除博文</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <button class="btn btn-success" @click="Delete()">是</button>
                    <button class="btn btn-error" @click="ShowTips=false">否</button>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>

    {[{template "footer" .}]}
</div>


<script>
    function add() {
        window.location.href = "admin/blog";
    }
</script>

<script>
    // 创建 Vue 实例，得到 ViewModel
    var vm = new Vue({
        el: '#app',
        data() {
            return {
                blogs: [{
                    blogid: "0",
                    title: "",
                    urltitle: "",
                    content: "",
                    author: "",
                    source: "",
                    publishtime: "",
                    tags: ""
                }],
                message: "",
                pager: {
                    page: 1,  //显示的是哪一页
                    pageSize: 10, //每一页显示的数据条数
                    total: 0, //记录总数
                    maxPage: 10000  //最大页数
                },
                thisblogid: "",
                ShowTips: false
            }
        },
        mounted() {
            this.GetBlogCount("");
            this.Load(1);
        },
        methods: {
            //获取文章
            Load: function (pageindex) {
                var that = this;
                //发送get请求
                axios.get('../api/v1/bloglist?pageindex=' + pageindex).then(function (res) {
                    if (res.data) {
                        if (res.data.status == 200) {
                            that.blogs = res.data.data;
                        } else {
                            that.message = res.data.message;
                        }
                    }
                }).catch(function (error) {
                    console.log(error);
                });

            },
            //总数
            //获取地块下的界址点总数
            GetBlogCount: function (keystring) {
                var that = this;
                var url = "../api/v1/blogs/count?keystring=" + keystring;
                axios.get(url).then(function (res) {
                    if (res.data) {
                        if (res.data.status == 200) {
                            that.pager.total = res.data.data;
                        } else {
                            if (res.data.message) {
                                that.message = res.data.message;
                            }
                        }
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            pageHandler: function (page) {
                this.pager.page = page;
                this.Load(page);
            },
            Edit: function (id) {
                window.open("admin/blog?blogid=" + id);
            },
            ShowEdit: function (id) {
                this.thisblogid = id;
                this.ShowTips = true;
            },
            Delete: function () {

                this.ShowTips = false;
                var that = this;
                var url = "../api/v1/blogs/delete?blogid=" + this.thisblogid;
                axios.post(url).then(function (res) {
                    if (res.data) {
                        if (res.data.status == 200) {
                            that.GetBlogCount("");
                            that.Load(that.pager.page);
                        } else {
                            if (res.data.message) {
                                that.message = res.data.message;
                            }
                        }
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            }
        }
    });
</script>
</body>
</html>