<!DOCTYPE html>
<html lang="en">
<head>
    {[{template "headerbody" .}]}
</head>
<body>
<div>

    {[{template "header" .}]}

    <div class="container grid-lg indexcontent">

        <div class="columns">
            <div class="column col-9 col-md-12">
                <div class="list">
                    <div class="title">
                        策略实例【入门篇】：4.布林强盗突破策略
                    </div>
                    <div class="content">
                        布林强盗突破策略 如果收盘价上穿布林上轨时，则买入； 如果收盘价下穿布林中轨时，则卖出。 MB中轨：N日的简单移动平均 UP上轨：中轨 + k倍N日标准差 DN下轨：中轨 -
                        k倍N日标准差
                    </div>
                    <div class="info">
                        <div class="article_info"><span class="autor_name">起来搬砖咯</span> <span class="time">发布于 2019-10-24 11:39:49</span>
                        </div>
                        <div class="icon-icon-list"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;418 &nbsp;&nbsp;
                            <i class="fa fa-comments" aria-hidden="true"></i>&nbsp;8
                        </div>
                    </div>
                </div>
            </div>
            <div class="column col-3  col-md-1">col-xs-3</div>
        </div>
    </div>


    {[{template "footer" .}]}
</div>
</body>
</html>