{[{ define "admin/footer" }]}
<footer class="footer">
    <div class="container grid-lg">
        <div>
            <div>

                <!--
                 http://www.4color.cn
                 请尽量不要删除本站点的链接哦，么么哒
                 -->
                <p>© 2019-2020 . All rights 4color.cn &nbsp;&nbsp;&nbsp;&nbsp; 备案号：<a href="http://beian.miit.gov.cn/"
                                                                                      target="_blank">{[{.blogset.Beian}]}</a><br/>
                    本博客采用 <a
                            href="http://4color.cn">4color.cn</a> 构建 &nbsp;&nbsp;


                </p>
            </div>
        </div>
    </div>


</footer>
{[{end}]}