{[{ define "admin/headerbody" }]}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<title>{[{ .blogset.Blogname}]} - {[{ .blogset.Blogtitle}]}</title>

<meta name="keywords" content="{[{ .blogset.Keywords }]}">
<meta name="description" content="{[{ .blogset.Description }]}">


<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

<link rel="stylesheet" href="./../static/style.css">


<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>

    Vue.config.productionTip = false;
</script>
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.js"></script>


<script src="../../static/zpageNav.js"></script>
<link href="../../static/zpageNav.css" rel="stylesheet"/>

{[{end}]}